


<!-- <button (click)="makeRequest()" class="btn btn-primary">Get owner</button>

<pre>{{ response | json }}</pre>

<div class="alert alert-info">{{ message }}</div>  -->

<div class="container">
    <div class="container">
        <label for="ownerId">Enter Owner ID:</label>
        <input type="text" [(ngModel)]="ownerId" name="ownerId" required>
        <button (click)="makeRequest()" class="btn btn-primary">Get owner</button>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vat</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ownerData">
                <td>{{data.id}}</td>
                <td>{{data.vat}}</td>
                <td>{{data.name}}</td>
                <td>{{data.surname}}</td>
                <td>{{data.address}}</td>
                <td>{{data.phoneNumber}}</td>
                <td>{{data.email}}</td>
                <td>{{data.username}}</td>
                <td>{{data.password}}</td>

            </tr>
        </tbody>

    </table>
</div>

