

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

input[type=text] {
    width: 20%;
    margin-right: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

