<div class="container">
    <div class="form-group">
      <label for="ownerVat">Enter Owner VAT:</label>
      <input type="text" [(ngModel)]="ownerVat" name="ownerVat" id="ownerVat" class="form-control" style="width: 300px;">
    </div>
    <div class="form-group">
      <label for="propertyId">Enter Property ID:</label>
      <input type="text" [(ngModel)]="propertyId" name="propertyId" id="propertyId" class="form-control" style="width: 300px;">
    </div>
    <button (click)="searchProperty()" class="btn btn-primary">Get Property</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Address</th>
          <th>e9</th>
          <th>Year Of Construction</th>
          <th>Property Type</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let data of propertyData ">
          <td *ngIf="data">{{data.id}}</td>
          <td *ngIf="data">{{data.address}}</td>
          <td *ngIf="data">{{data.e9}}</td>
          <td *ngIf="data">{{data.yearOfConstruction}}</td>
          <td *ngIf="data">{{data.propertyType}}</td>
        </tr>
      </tbody>
    </table>
  </div>