<div class="container">
    <label for="propertyId">Enter Owner VAT:</label>
    <input type="text" [(ngModel)]="vat" name="vat">
    <label for="e9">Enter Owner e9:</label>
    <input type="text" [(ngModel)]="e9" name="e9">
    <button (click)="searchProperty(vat,e9)" class="btn btn-primary">Get Property</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>e9</th>
                <th>Year Of Construction</th>
                <th>Property Type</th>
      </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of propertyData">
                <td>{{data.id}}</td>
                <td>{{data.address}}</td>
                <td>{{data.e9}}</td>
                <td>{{data.yearOfConstruction}}</td>
                <td>{{data.propertyType}}</td>
         </tr>
        </tbody>

    </table>
</div>