.navbar {
  background-color: hsl(212, 86%, 52%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  color: rgb(255, 255, 255);
  text-decoration: none; 
  transition: color 0.2s ease-in-out; 
}

.nav-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover ul {
  display: block;
}


body, html {
  height: 100vh;
  margin: 0;
} 

// footer {
//   background-color: hsl(212, 86%, 52%);
//   padding: 5px;
//   color: white;
//   text-align: center;
//   position: relative;
//   bottom: 0;
//   width: 100%;
  
// }