.navbar {
    background-color: hsl(212, 86%, 52%);
    color: white;
    padding: 16px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-item {
    list-style: none;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none; /* This will remove the underline from the links */
    transition: color 0.2s ease-in-out; 
  }
  
  .nav-item a:hover {
    color: hsl(212, 86%, 72%); 
  }