.update-button {
  background-color: #f5c874; /* orange color */
  padding: 8px 20px; /* add some padding */
  border-radius: 3px; /* round the button's corners */
  font-weight: bold; /* make the text bold */
  transition: all 0.2s ease-in-out; /* add a smooth transition effect */
  /* added properties */
  width: 80px;
  text-align: center;
  margin: 10px auto;
  border: none;
  cursor: pointer;
}

.update-button:hover {
  background-color: #6d4c41;
  color:white;
  /* added properties */
  transform: scale(1.1);
}
