/* Login Form */
form {
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px; /* Add some padding to the button */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add some rounded edges */
  background-color: #007bff; /* Add a background color */
  color: #fff; /* Change the text color to white */
  font-size: 16px; /* Increase the font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: all 0.2s; /* Add a smooth transition */
}

button:hover {
  background-color: #0069d9; /* Change the background color on hover */
  transform: scale(1.1); /* Scale the button up on hover */
}

button:active {
  transform: scale(0.95); /* Scale the button down on active */
}


/* Self-Registration Link */
