@import "node_modules/bootstrap/scss/bootstrap";
// Add custom variables
$primary-color: #3f51b5;
$secondary-color: #6c757d;

// Global styles
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: darken($primary-color, 10%);
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $primary-color;
}
// Add additional styling as needed


