.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ccc;
  }
  
  h2 {
  text-align: center;
  margin-bottom: 30px;
  }
  
  label {
  font-weight: bold;
  }
  
  input[type="text"], input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .update-button {
  width: 100%;
  background-color: #ffae00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .update-property-button:hover {
  background-color: #45a049;
  }
  
  p {
  color: red;
  text-align: center;
  }

  .update-repair-button {
    /* button styles */
    background-color: #337ab7;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .update-repair-button:hover {
    /* hover styles */
    background-color: #286090;
    cursor: pointer;
  }
  
  