<form [formGroup]="postForm" (ngSubmit)="postProperty()">
  <div>
    <label for="e9">E9:</label>
    <input type="number" formControlName="e9">
    <div *ngIf="postForm.get('e9')?.touched && postForm.get('e9')?.hasError('required')">E9 is required</div>
  </div>
  <div>
    
    <label for="address">Address:</label>
    <input type="text" formControlName="address">
    <div *ngIf="postForm.get('address')?.touched && postForm.get('address')?.hasError('required')">Address is required</div>
  </div>
  <div>
    <label for="yearOfConstruction">Year of Construction:</label>
    <input type="text" formControlName="yearOfConstruction">
    <div *ngIf="postForm.get('yearOfConstruction')?.touched && postForm.get('yearOfConstruction')?.hasError('required')">Year of Construction is required</div>
  </div>
  <div>
    <label for="propertyType">Property Type:</label>
    <input type="text" formControlName="propertyType">
    <div *ngIf="postForm.get('propertyType')?.touched && postForm.get('propertyType')?.hasError('required')">Property Type is required</div>
  </div>
  <button type="submit" [disabled]="postForm.invalid">Post</button>
</form>
<div *ngIf="responseMessage">{{responseMessage}}</div>
<div *ngIf="formError">Please fill out all the fields</div>
